


a,
.btn-link,
.pretty-link:hover s,
.pretty-link:hover b,
/* Account Group */
.metadata a:hover,

.account-group:hover .fullname,

.stats a:hover,
.stats a:hover strong,

.profile-modal-header .fullname a:hover,
.profile-modal-header .username a:hover,
.story-article:hover .metadata,
.find-friends-sources li:hover .source,
.stream-item a:hover .fullname,

.stream-item .view-all-supplements:hover,

.tweet .time a:hover,
.tweet:hover .user-dropdown .mark-as-spam-text,
.tweet-actions a,
.tweet .details.with-icn b,

.stream-item:hover .original-tweet .expand-action-wrapper,
.opened-tweet.original-tweet  .expand-action-wrapper,

.stream-item:hover .original-tweet .details b,
.stream-item.open .original-tweet .details b,

.simple-tweet:hover .details b,
.simple-tweet.open .details b,
.simple-tweet:hover .details .expand-action-wrapper,
.simple-tweet.open .details .collapse-action-wrapper,
.simple-tweet:hover .details .simple-details-link,

.client-and-actions a:hover,

.dismiss-promoted:hover b,

.tweet .context .pretty-link:hover s,
.tweet .context .pretty-link:hover b,

.list .username a:hover,
.list-membership-container .create-a-list,
.list-membership-container .create-a-list:hover,



.story-header:hover .view-tweets,
.card .list-details a:hover,
.card .card-body:hover .attribution,
.new-tweets-bar,
.onebox .soccer ul.ticker a:hover,
.discover-item-actions a,
.remove-background-btn,
.stream-item-activity-me .latest-tweet .tweet-row a:hover {
    color: #0084B4;
}

s,
.pretty-link:hover s,
.stream-item-activity-me .latest-tweet .tweet-row a:hover s {
    color: #66B5D2;
}


.tweet .sm-reply,
.tweet .sm-rt,
.tweet .sm-fav,
.tweet .sm-image,
.tweet .sm-video,
.tweet .sm-audio,
.tweet .sm-geo,
.tweet .sm-in,
.tweet .sm-trash,
.tweet .sm-page,
.tweet .sm-embed,
.tweet .sm-summary,
.tweet .sm-chat,

.tweet .mark-as-spam-flag,
.tweet .mark-as-spam-silhouette,

.timelines-navigation .active .profile-nav-icon,
.timelines-navigation .profile-nav-icon:hover,

.sm-top-tweet,


.discover-item .js-action-card-search:hover .sm-search {
    background-color: #0084B4;
}

body {
    background-image: url(bg.png);
    background-position: left 40px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #C0DEED;
}
      
