.container
  .row
    .span2
      .well(style='padding:8px 0')
        ul.nav.nav-list
          li.nav-header 목차
          each menu in menus 
           li(class= menu.class)
            a(href= '#' + menu.type )= menu.title
    .span10
      #introduce
        .alert <strong>소개</strong>


      