.container
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container(style='height:50px;')
          
            a.btn.btn-navbar(data-toggle='collapse', data-target='#main-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
        
            a.brand(href='/', style='padding:0px;') 
              img(src='/logic/themes/gear.png', style='display:inline-block;margin-top:-4px;margin-right:10px;')            
              h2(style="display:inline;color:#eeeeee;padding-top:3px;padding-left:5px;padding-right:5px;")
                | EasyLogic
            .nav-collapse#main-collapse
              ul.nav
                li.divider-vertical              
                li.btn-toolbar#writeTool(style='margin-top:2px;')
                  - if (everyauth.loggedIn)
                    .btn-group
                      a(href= '/write').btn.btn-primary#writeButton
                        i.icon-pencil.icon-white
                li.divider-vertical
                li.boxeditor.btn-toolbar#boxeditor                                      
                li.divider-vertical
                li.toolbar#toolbar
                li.divider-vertical
                li.menubox.btn-toolbar#menubox
                li.divider-vertical               
                li.boxset.btn-toolbar#boxset
                li.divider-vertical                
                li.settings.btn-toolbar#settings                
              ul.nav.pull-right
                li.divider-vertical              
                li.dropdown.active
                  a.dropdown-toggle(href='#', data-toggle='dropdown') 
                    if everyauth.loggedIn 
                      i.icon-user.icon-white
                      | &nbsp;
                      | 접속중
                    else
                      i.icon-ok.icon-white
                      | &nbsp;                    
                      | 로그인
                    b.caret
                  ul.dropdown-menu
                    if everyauth.loggedIn
                      li
                        a
                          img(src= auth.profile, width=32, height=32) 
                          | &nbsp;
                          img(src= auth.icon, width=16, height=16)
                          | &nbsp;
                          strong #{auth.username}
                      li.divider
                      li
                        a(href='/bye') Logout
                    else
                      li: a(href='/auth/tumblr')
                        img(src="http://assets.tumblr.com/images/favicon.gif?2", width=16, height=16) 
                        | &nbsp; 
                        | Tumblr                    
                      li: a(href='/auth/twitter')
                        img(src="http://twitter.com/favicons/favicon.ico", width=16, height=16) 
                        | &nbsp; 
                        | Twitter
                      li: a(href='/auth/github')
                        img(src="https://github.com/favicon.ico", width=16, height=16)
                        | &nbsp;                        
                        | Github                        
                      li: a(href='/auth/facebook')
                        img(src="http://static.ak.fbcdn.net/rsrc.php/yi/r/q9U99v3_saj.ico", width=16, height=16) 
                        | &nbsp; 
                        | Facebook
                      li: a(href='/auth/google')
                        img(src="https://ssl.gstatic.com/s2/oz/images/faviconr2.ico", width=16, height=16) 
                        | &nbsp; 
                        | Google            
