div.btn-group
  a.btn.dropdown-toggle(data-toggle="dropdown") Tool
    | &nbsp;
    span.caret
  ul.dropdown-menu
    li: a.copy(href='#copy') Copy
    li: a.export_html(href='#export_html') Export HTML
    li: a.export_json(href='#export_json') Export JSON