.well(style='padding: 8px 0')
  ul.nav.nav-list
    li.nav-header Profile
    li
      img(src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/49219_100000616923797_5111_n.jpg")
    li.nav-header Tags
    li: a(href='/') All List
      