.item
  .text        
    a(href= '/view/' + _id)!= title
  .item-header
    - if (typeof auth !== 'undefined' && auth.authType)          
      a
        != auth.username
        | &nbsp;
        img(src= auth.icon, width=16)
  
  - if (typeof tag == 'undefined') tag = []
  if tag
    code!= tag
  