a.btn.btn-success.add_row(style='width:70px') row+
| &nbsp;
a.btn.btn-info.add_column(style='width:70px') col+    
table
  tr.column
    td.ui-state-disabled
      a.btn.init_row(style='width:70px;background:white;margin:0px;').ui-state-disabled &nbsp;
table
  tbody.list