ul.thumbnails(style="width:700px;margin-left:20px;")
  - for(var i = 1; i <= 20; i++ )
    li.span2(style='width:105px;')
      a.thumbnail.themes-image(href='#', data-themes= i)
        img(src= "https://twitter.com/images/themes/theme"+i+"/swatch.gif" )
